.logo{
    width: 30%;
    padding-left: 15%;
}

.navbar{
    background-color: rgba(19, 0, 0, 0.897);
    width: 100%;
}

.busca{
    width: 30%;
    padding-left: 85%;
}
.git{
    width: 70%;
    padding-left: 90%;
}
.busca{
    border: 5px;
    border-style: inherit;
}
.conteudo{
    float: right;
}

.corpo{
    width: 100vw;
    display: flex;
}
.final{
    display: none;
}
@media(max-width: 600px){
    
    .menu-v{
        display: none;
    }
}